extends layout

block content
  h1#podtitle Please wait
  p#desc Please wait for the podcasts to load
  #menu.list-group
    #arrowup.arrow.noshow.glyphicon.glyphicon-menu-up
    #podcastContainer
    #arrowdown.arrow.glyphicon.glyphicon-menu-down
  #videoContainer
    video#stream(controls)
    #description
  #content
