extends layout

block content
  h1#podtitle Please wait
  p#desc Please wait for the podcasts to load
  #menu.list-group
    #arrowup.arrow <<
    #podcastContainer
    #arrowdown.arrow >>
  #videoContainer
    video#stream(controls)
    #description
  #content
