body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

#content, .podDesc, .podSummary{
  display: none;
}

.noshow{
  visibility: hidden;
}

.arrow{
  margin-left: 50%;
}

#videoContainer{
  position: absolute;
  top: 27%;
  left: 300px;
}

#menu{
  position: absolute;
  top: 29%;
}
#stream, #videoContainer, #description{
  width: 74%;
}

#podcastContainer, #menu, .arrow{
  width: 200px;
}
